.eeunn_header_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.eeunn_header_bottom{
    margin-bottom: 2rem;
}

.eeunn_footer_bottom{
    margin-top: 2rem;
}

.eeunn_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}