.eeunn_header_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.eeunn_header_bottom{
    margin-bottom: 2rem;
}

.eeunn_footer_bottom{
    margin-top: 2rem;
}

.eeunn_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;

}

.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: 'NanumSquareB', 'cursive'
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

/* 커서가 버튼 위에 있을 때 */
.round_button:hover {
    color: dimgray;
}

.article_image {
    border-radius: 2rem;
    width: 70%;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem 0;
}

.comment_box {
    border: solid;
    border-color:black;
    text-align:left;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.1rem;
}

/*(max-width 어쩌구) -> 만약 이거보다 적다면 */
@media screen and (max-width: 500px) {
    html {
        /* defaul font-size = 16 px*/
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}


/*마우스 커서가 올라가있을 때*/
a:hover {
    color: black;
}